//Color Theme Swatches in Hex 
$Optio-1-hex: #96B3D9;
$Optio-2-hex: #D5E7F2;
$Optio-3-hex: #C9EBF2;
$Optio-4-hex: #0B2624;
$Optio-5-hex: #7EBFB3;

//Font face                                 //demander pourquoi je n'arrive pas à afficher la police partout??
@font-face {
    font-family: 'Work Sans', sans-serif;
    src: url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: $Optio-3-hex;
    font-family: 'work sans', sans-serif;
}

.container {
    
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    //justify-content: center;
    margin-top: auto;
    position: absolute;
    
  }

.title {
        font-size: 3.125rem;
        padding: .625rem;
        margin: 1.875rem;
        color: $Optio-4-hex;
    }

.city {
    font-size: 1.875rem;
    margin: 1.875rem;
    padding: 0.125rem;
    text-align: center;
    color: $Optio-2-hex;
    background-color: $Optio-5-hex;
    border-style: none;
} 

.search {
    font-size: 1.25rem;
    margin: .9375rem;
    padding: .125rem;
    text-align: center;
    color: #D5E7F2;
    border-radius: .625rem;
    border-style: none;
    background-color: $Optio-1-hex;
    
}

//border: 2px black solid;